.navhead{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 0px 20px;
}
.navhead ul{
    list-style-type: none;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}
.navhead ul li {
    padding-right: 80px;
    padding-left: 0px;
    position: relative;
}
.navhead ul li a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}
.active{
    color: #1abc9c !important;
}